<div class="container">
	<div class="row">
		<h2>search Movie</h2>
		<input ng-model="vm.movieQuery.title"
       class="form-control"
       placeholder="Search Movie  Batman"/>

		<button ng-click="vm.search(vm.movieQuery)"
		        class="btn btn-primary btn-block "
		        ng-class="{ 'loading': vm.done}">
		    Search
		</button>


		{{vm.movieQuery.title}}
	</div>
</div>
<div class="container" style="margin-top:50px" ng-if="vm.movie.imdbID">
	<div class="row">
		<div class="col-md-12">
			<div class="movie">
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
					<a href="#" class="thumbnail">
						<img ng-hide ="vm.movie.Poster =='N/A'" ng-src="{{vm.movie.Poster}}" alt="{{vm.movie.Title}}">
						<img ng-show ="vm.movie.Poster =='N/A'" ng-src="http://www.classicposters.com/images/nopicture.gif" alt="{{vm.movie.Title}}">
					</a>
				</div>
				<div class="movie--info col-xs-9 col-sm-9 col-md-9 col-lg-9">
						<p>{{vm.movie.Title}} </p>
						<p>Year: {{vm.movie.Year}} </p>
						<p>Country: {{vm.movie.Country}}</p>
						<p>Actors: {{vm.movie.Actors}}</p>
						<p>Director: {{vm.movie.Director}}</p>
						
						<p>{{vm.movie.Genre}}</p>
						<p>{{vm.movie.Plot}}</p>
						<p>Awards: {{vm.movie.Awards}}</p>
						<p>Language: {{vm.movie.Language}}</p>
						<button ng-hide="vm.added" ="vm." ng-click="vm.addMovie(vm.movie)" class= "btn btn-primary"
						ng-class="{ 'loading': vm.added} ">Add To List</button>
						<button ng-show="vm.added"  class= "btn btn-primary">Movie Added</button>
						<!-- <button ng-show="vm.added" ng-click="vm.addMovie(vm.movie)" class= "btn btn-primary">Go To Movie</button> -->
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container" style="margin-top:50px" ng-if="vm.movie.Error">
	<div class="row">
		<div class="col-sm-9">
			<h2>{{vm.movie.Error}}</h2>
		</div>
	</div>
</div>

	<!-- 	<button ng-click="vm.test()"
	        class="btn btn-primary btn-block">
	    test
	</button> -->
<div ng-if="model.profile.likesMovies.length">

    <h3>Movies I Like</h3>

    <div class="panel panel-default jga-movie-panel"
         ng-repeat="movie in model.profile.likesMovies">
        <div class="panel-heading">
            <a href="#/details/{{movie.imdbID}}">
                {{movie.title}}
            </a>
        </div>
        <div class="panel-body">
            <a href="#/details/{{movie.imdbID}}">
                <img ng-src="{{movie.poster}}" width="100px"/>
            </a>
        </div>
    </div>
</div>