/* profile css */
.liked_movie{
			display: inline-block;
			border: 1px solid #ccc;
			padding: 5px;
			 text-align: center;
			text-transform: capitalize;
			height: 200px;
			margin: 10px;
			width: 110px;
			overflow: hidden;
		}
		.movie_thumb{
			width: 100px;
			
		}
		.movie_thumb img {
			width: 100%;
			height: 150px;
			
		}
		.liked_movie small {
			font-size: 8px;
			margin-bottom: 5px;
		}
		.liked_movie h5{
			margin: 5px 0 -3px 0;
	    overflow-wrap: break-word;
	    word-wrap: break-word;
	    font-size: 11px
		}
		.left{
			float: left;
			width: 30%;
		}
		.right{
			float: right;
			width: 65%;
		}
		.left img{
			width: 100%;
		}

/* movie list view */
	.liked{
	 		background: red;
	 	}
	 	ul{
	 		margin: 0;
	 		padding: 0;
	 		list-style-type: none;
	 	}
	 	li{
	 		list-style-type: none;
	 	}
/* movie page */

.liked{
	 		background: red;
	 	}
	 	.avater_small{
	 		width: 80px;
	 		display: block;
	 	}
	 	.avater_small img{
	 		width: 100%;
	 	}
	 	.avater_container{
	
	 		display: inline-block;
   		margin-right: 10px;
	 	}
	 	ul{
	 		margin: 0;
	 		padding: 0;
	 		list-style-type: none;
	 	}
	 	li{
	 		list-style-type: none;
	 	}



/* user ejs */
.liked_movie{
			display: inline-block;
			border: 1px solid #ccc;
			padding: 5px;
			background: #abc;
			text-transform: capitalize;
		}
		ul{
			margin: 0;
			padding: 0;
		}
		li{
			list-style-type: none;
		}
.loading{
	
	cursor: not-allowed;
	background: linear-gradient(269deg, #337ab7, #aedb94, #104470);
	background: linear-gradient(269deg, #337ab7, #aedb94, #104470);
	background-size: 300% 300%;
	border: none;

	-webkit-animation: AnimationName 10s ease infinite;
	-moz-animation: AnimationName 10s ease infinite;
	animation: AnimationName 10s ease infinite;

}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes AnimationName { 
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}

/* angular template */
.section-heading{
	font-size: 20px;
  color: #424242;
  font-family: fantasy;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

/* // details movie */
.statics{
	margin: 20px 0;
	display: flex;
	-webkit-align-items: stretch;
	        align-items: stretch;
}
.stats-item{
	margin-right: 10px;
	width: 17%;
	border: 1px solid #ccc;
	text-align: center;
}
.stats-result{
	background: #000;
	color: #FFF;	
	height: 84px;
}
.stats-result h5{
	padding: 20px;
	font-size: 40px;
	margin: 0;
}
.stats-info h4{
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	
}
.stats-result a{
	display: block;
	font-size: 30px;
	color: #FFF;
	width: 100%;
	text-decoration: none;
	padding: 20px;
}
.stats-result.imdb{
	background: #333333;
	
}
.stats-result.wiki{
	background: #f6f6f6;
}
.stats-result.imdb a{
	color: #F5DE50;
}
.stats-result.wiki a{
	color: #0b0080;
}
.movie-detail{
	background: #f1eef2;
	padding-top: 40px;
}
.media{
	float: left;
	width: 200px;
	margin-right: 20px;
}

/* movie listviwe css */

.movie{
	  border-top: 1px solid #ccc;
    padding: 35px 0 10px;
}
.mov-media{
	  float: left;
    width: 130px;
    margin-right: 20px;
}
.mov-media img{
	  width: 125px;
    height: 170px;
}
.movie-action{
	margin-top:20px ;
}