<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>login</title>
	<link href="../lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
		<% include header %>
<!-- 	<div class="container">
	<div class="row">
		<div class="col-md-10">
			<h2>login form</h2>

			<form method= 'post' action="login">
				username: <input type="text" name="username">
				password: <input type="password" name="password">
				<input type="submit" value="login">
			</form>
		</div>
	</div>
</div> -->
	  <div class="container">
    <div class="row">
      <div class="col-md-8 col-offset-4">
        <h1><span class="fa fa-sign-in"></span> Login</h1>
          <form action="login" method="post">
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" name="username">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password">
                </div>

                <button type="submit" class="btn btn-warning btn-lg">Login</button>
            </form>

            <hr>

            <p>Need an account? <a href="/user/register">Signup</a></p>
            <p>Or go <a href="/">home</a>.</p>
      </div>
    </div>
  </div>
	
</body>
</html>