<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ejs movie</title>
	 <link href="../css/bootstrap.css" rel="stylesheet">
	  <link href="../css/main.css" rel="stylesheet">
	 <style type="text/css">
	 	
	 </style>
</head>
<body>
		<div class="container">
        <div class="header clearfix">
            <nav>
              <ul class="nav nav-pills pull-right">
                <li role="presentation"><a href="/user/profile"></a></li>
                <li role="presentation" class="active"><a href="/">Home</a></li>
                <li role="presentation"><a href="/movie">Movie</a></li>
                <li role="presentation"><a href="/user">user</a></li>
                 
                <li role="presentation"><a href="../user/login">Login</a></li>
                

                <li role="presentation"><a href="/user/profile">profile</a></li>
                <li role="presentation"><a class="logout" >LogOut</a></li>
                
              </ul>
            </nav>
            <h3 class="text-muted">Project name</h3>
          </div>
        
    </div>	
    <div class="container">
    	<div class="row">
    		<div class="col-md-10">
    			<form method= 'post' action="/movie">
						Movie Naame: <input type="text" name="name" class="form-control"> <br>
						Year: <input type="text" name="year" class="form-control"> <br>
						Genere: <input type="text" name="genere" class="form-control"> <br>
						Plot: <input type="text" name="plot" class="form-control"> <br>
						<input type="submit" value="Post Movie" class="btn btn-primary btn-lg btn-block">
					</form>
    		</div>
    	</div>
    </div>
		<div class="container">
		<div class="row">
			<div class="col-md-10">
				<h2>Movie List</h2>

						<div class="container">
					<div class="row">
						<h2>movie content</h2>
					</div>
				</div>
			
			</div>
		</div>
	</div>
	
	
	<script type="text/javascript" src= "../js/vendor/jquery-1.11.2.js" ></script>
	<script type="text/javascript" src= "../js/script.js" ></script>
</body>
</html>
