<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>login</title>
	 <link href="../css/bootstrap.css" rel="stylesheet">
      <link href="../css/main.css" rel="stylesheet">
</head>
<body>


	<div class="container">
        <div class="row">
          <div class="col-md-8 col-offset-4">
            <h1><span class="fa fa-sign-in"></span> Register</h1>
            <form action="register" method="post">
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" name="username">
                </div>
                 <div class="form-group">
                    <label>Full Name</label>
                    <input type="text" class="form-control" name="name">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password">
                </div>

                <button type="submit" class="btn btn-warning btn-lg">Register</button>
            </form>

            <hr>

            <p>Already Have an account? <a href="/user/login">Login</a></p>
            <p>Or go <a href="/">home</a>.</p>
          </div>
        </div>
      </div>
	
</body>
</html>