<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>login</title>
</head>
<body>
		<div class="container">
		<div class="row">
			<div class="col-md-10">
				<h2>login form</h2>

				<form method= 'post' action="register">
					UserName: <input type="text" name="username"> <br>
					Name: <input type="text" name="name"> <br>
					Password: <input type="password" name="password"> <br>
					<input type="submit" value="register">
				</form>
			</div>
		</div>
	</div>
	
</body>
</html>