<div class="container">
	<div class="row">
		<h2>details Movie</h2>

</div>
<div class="container" style="margin-top:50px" ng-if="vm.movie.imdbID">
	<div class="row">
		<div class="col-md-12">
			<div class="movie">
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
					<a href="#" class="thumbnail">
						<img ng-hide ="vm.movie.Poster =='N/A'" ng-src="{{vm.movie.poster}}" alt="{{vm.movie.title}}">
						<img ng-show ="vm.movie.poster =='N/A'" ng-src="http://www.classicposters.com/images/nopicture.gif" alt="{{vm.movie.title}}">
					</a>
				</div>
				<div class="movie--info col-xs-9 col-sm-9 col-md-9 col-lg-9">
						<p>{{vm.movie.title}} </p>
						<p>Year: {{vm.movie.year}} </p>
						
						<p>Director: {{vm.movie.director}}</p>
						
						<p>{{vm.movie.genre}}</p>
						<p>{{vm.movie.plot}}</p>
						
						
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container" style="margin-top:50px" ng-if="vm.movie.Error">
	<div class="row">
		<div class="col-sm-9">
			<h2>{{vm.movie.Error}}</h2>
		</div>
	</div>
</div>


<div class="container">
		<div class="row">
			<div class="col-md-10">
				<ul ng-if="vm.user">
				<h2>User Who like the movie</h2>
				
					<li class="avater_container" ng-repeat="likeUser in vm.user">
						<a class="avater_small" ng-click="vm.getUserProfile(likeUser._id)" href="#"><img ng-src="{{likeUser.avater}}"></a>
						<a href="/#/user/{{likeUser._id}}">{{likeUser.name}}</a>
						<p> </p>
					</li>
					
					<br>
				
				</ul>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-10">
				<ul ng-if="vm.user">
				<h2>User Who Watched the movie</h2>
				
					<li class="avater_container" ng-repeat="watchUser in vm.watchUser">
						<a class="avater_small" ng-click="vm.getUserProfile(watchUser._id)" href="#"><img ng-src="{{watchUser.avater}}"></a>
						<a href="/#/user/{{watchUser._id}}">{{watchUser.name}}</a>
						<p> </p>
					</li>
					
					<br>
				
				</ul>
			</div>
		</div>
	</div>

	