<div class="container">
	<div class="row">
		<h2>Movie</h2>
		<input ng-model="vm.movieQuery.title"
       class="form-control"
       placeholder="Search Movie  Batman"/>

		<button ng-click="vm.GetMovie()"
		        class="btn btn-primary btn-block "
		        ng-class="{ 'loading': vm.done}">
		    Search
		</button>

<p>{{current_user.name}}</p>
	
	</div>
</div>
<div class="container " style="margin-top:50px" >
	<div class="row">
		<div class="col-md-12">
			<div class="movie clearfix" ng-repeat="mov in vm.movie">
				<div class="mov-media">
					<a href="#/movie/{{mov._id}}" class="thumbnail">
						<img ng-hide ="mov.poster =='N/A'" ng-src="{{mov.poster}}" alt="{{mov.title}}">						
					</a>
				</div>
				
				<div class="movie-info" >
							<p>{{mov.title}} ({{mov.year}}) </p>
							<p>{{mov.genre}}</p>
							<p>Director: {{mov.director}} </p>	
	 						<p>Plot: {{mov.plot}}</p>
							<div class="movie-action">
								<a href="/#/movie/{{mov._id}}" ng-click="vm.detail(mov.id)" class="btn btn-primary details">details</a>										
								<a href="./movie/{{mov._id}}/edit" class="btn btn-primary edit">edit</a>
								<button rel="movie/{{mov._id}}" class="btn btn-primary delete">delete</button>
										
								<button ng-hide="mov.likeUsers.indexOf($root.current_user._id) > -1" ng-click="vm.likes(mov._id)"  class="btn btn-primary likes"> like </button>
								<button ng-show="mov.likeUsers.indexOf($root.current_user._id) > -1"   class="btn btn-success likes"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> liked </button>
											
								<button ng-hide="mov.viewedUser.indexOf($root.current_user._id) > -1"  ng-click="vm.doWatch(mov._id)" class="btn btn-primary watch">Add to Watchlist</button>
								<button ng-show="mov.viewedUser.indexOf($root.current_user._id) > -1"   class="btn btn-success likes"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"> Watched </button>

								<button ng-hide="mov.intersetedUser.indexOf($root.current_user._id) > -1" ng-click="vm.addInterest(mov._id)" class="btn btn-primary watch">Add to Interest</button>
								<button ng-show="mov.intersetedUser.indexOf($root.current_user._id) > -1"   class="btn btn-success likes"><span class="glyphicon glyphicon-list" aria-hidden="true"> Interest </button>										
							</div>						
					
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container" style="margin-top:50px" ng-if="vm.movie.Error">
	<div class="row">
		<div class="col-sm-9">
			<h2>{{vm.movie.Error}}</h2>
		</div>
	</div>
</div>

	<!-- 	<button ng-click="vm.test()"
	        class="btn btn-primary btn-block">
	    test
	</button> -->
<div ng-if="model.profile.likesMovies.length">

    <h3>Movies I Like</h3>

    <div class="panel panel-default jga-movie-panel"
         ng-repeat="movie in model.profile.likesMovies">
        <div class="panel-heading">
            <a href="#/details/{{movie.imdbID}}">
                {{movie.title}}
            </a>
        </div>
        <div class="panel-body">
            <a href="#/details/{{movie.imdbID}}">
                <img ng-src="{{movie.poster}}" width="100px"/>
            </a>
        </div>
    </div>
</div>